@model  List<Models.Pedido>
@{
    ViewData["Title"] = "MeusPedidos";
    Layout = "_Site";
}
<head>
    <link rel="stylesheet" href="~/css/controle.css">
    <title>Brasil Vinil - Home</title>
</head>
<body>
    <div class="container">
        <div class="row">

            <h4 style="color: #771ed2; margin-top: 50px;">Minhas Compras</h4>
            <nav class="navbar navbar-expand-lg navbar-light ">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                    </ul>
                </div>
            </nav>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Data</th>
                            <th class="text-center" scope="col">Nº Nota</th>
                            <th class="text-center" scope="col">Valor</th>
                            <th class="text-center" scope="col">Qtd.</th>
                            <th class="text-center" scope="col">Forma de Pagamento</th>
                            <th class="text-center" scope="col">Detalhes</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ if (Model.Count != 0) {
                                foreach (Models.Pedido pedido in Model)
                                {
                                    bool nf = false;
                                    <tr>
                                        <th scope="row">@pedido.Data.ToShortDateString()</th>
                                        @foreach (Models.Movimentacao movimentacao in pedido.Movimentacao)
                                        {
                                            if (movimentacao.IdPedido == pedido.IdPedido && !nf)
                                            {
                                                <td class="text-center">@movimentacao.Nf</td>
                                                nf = true;
                                            }
                                        }
                                        <td class="text-center">@pedido.ValorTotal</td>
                                        <td class="text-center">@pedido.Detalhepedido.Count Itens</td>
                                        <td class="text-center">Boleto</td>
                                        <td class="text-center">
                                            <a asp-action="DetalhesPedido" asp-route-id="@pedido.IdPedido">
                                                <i class="fa fa-info" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    }
                                }
                            }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
